<h1>Teacher</h1>
<p>Name : <%= @teacher.user.name %></p>
<p>Email : <%= @teacher.user.email %></p>
<p>
	Subjects : 
	<ul>
		<% @teacher.subjects.each do |s| %>
			<li>
				<%= s.name %>
			</li>
		<% end %>
	</ul>
</p>
<br />
<%= link_to "Teachers list", :action => 'index' %>