<h1>Class</h1>
<p>Name : <%= @klass.name %></p>
<p>
	Students :
	<ul>
		<% @klass.students.each do |s| %>
			<li>
				<%= s.user.name %>
			</li>
		<% end %>
	</ul>
</p>
<br />
<%= link_to "Classes list", :action => 'index' %>
